/* CSS Setting */
html, body{
	min-height: 100%;
	min-width: 1024px;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	margin: auto;/*color: #6b7485;*/
	font-family: '文泉驛微米黑 Regular', '文泉驛微米黑','Arial Negreta cursiva', 'Arial','微軟正黑體';
	background-color:#ffffff;
	-webkit-font-smoothing:antialiased;
	font-size: 17px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
	margin: 0;padding: 0;border: 0;transition:height .5s ease,font-size .5s ease, margin .5s ease,opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease,border .2s ease,width .2s ease, left .2s ease, top.2s ease, right.2s ease, bottom.2s ease;font-family: '微軟正黑體';font-weight: 400;
}

*:focus { outline: none; }
a{text-decoration: none;}

#MainVueView{
	margin: auto;
	padding: 5px;
	width: 1024px;
}
#MainVueView .button{
	padding: 10px 15px;
	color: #ffffff;
	text-decoration: none;
	background: #22B14C;
}
#MainVueView .button:hover{
	background: #2ADA5E;
}

#MainVueView .selector{
	text-align: center;
	padding: 15px;
	border-bottom: 2px solid #e0e0e0;
	background: #efefef;
}

#MainVueView .tbWrokrecord{
	border-collapse: collapse;
	width: 100%;
	margin-top: 30px;
}
#MainVueView .tbWorkrecord tr, td{
	border: 1px solid #e0e0e0;
	text-align: center;
}
